@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400&display=swap");

.notification {
  color: #fff;
  width: 550px;
  text-align: center;
  padding: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: fixed;
  transform: translate(-50%, 0);
  top: 100px;
  left: 50%;

  span {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &.success {
    background: #73ca5c;
  }

  &.black {
    background: #151515;
  }
}
