.dashboard-main {
  .section-navigation {
    margin-bottom: 24px;
  }

  .section-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 24px 0;
  }

  .page-list {
    padding-bottom: 40px;
  }
}
