.form-group {
  .form-label {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .form-input {
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 10px;
    height: 38px;
    border-radius: 5px;
  }
}
