.payment-page {
  padding-bottom: 100px;
  .banner {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 266px;
    background: #f1f3ff;
  }

  .content-container {
    margin: auto;
    margin-top: 136px;
    width: 1047px;

    /* Method Page */

    .top-bar {
      width: 100%;
      display: flex;
      gap: 16px;

      .description {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .steps {
        margin-left: auto;
      }
    }

    .content-2 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 32px;
      margin-top: 24px;
    }

    .detail-order {
      width: 100%;
      height: 124px;
      margin-top: 54px;
      display: flex;
      flex-direction: column;

      .detail-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        .detail-group {
          display: flex;
          flex-direction: column;
          gap: 8px;

          h5 {
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
          }

          span {
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: #8a8a8a;
          }
        }
      }
    }

    .select-method {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 605px;
      height: fit-content;

      .line {
        height: 1px;
        width: 100%;
        background-color: #eee;
      }

      .method-list {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
      }
    }

    .payment-detail {
      width: 405px;
      min-height: 546px;
      display: flex;
      flex-direction: column;
      .specs-desc {
        display: flex;
        gap: 16px;
        margin-top: 8px;

        .specs-item {
          font-weight: 300;
          font-size: 10px;
          line-height: 14px;
          color: #8a8a8a;
          display: flex;
          gap: 6px;
          align-items: center;

          svg {
            width: 11px;
          }
        }
      }

      .accordion {
        margin-top: 56px;
        .accordion-item {
          border: none;
          .accordion-header {
            .accordion-button {
              padding: 18px 0;
              display: flex;
              justify-content: space-between;

              &:focus {
                border: none;
                box-shadow: none;
              }

              &::after {
                content: none;
                background-image: none;
              }

              &:not(.collapsed) {
                box-shadow: none;
                background-color: transparent;
                color: #000;
              }
            }
          }

          .accordion-body {
            padding: 0;
          }
        }
      }

      .price-group {
        ul {
          li {
            .item {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }

      .total-section {
        margin-top: auto;
        .total-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .btn {
          width: 100%;
          margin-top: 24px;
        }
      }
    }

    /* Payment Page */
    .container-2 {
      width: 100%;
      margin-top: 120px;
      display: flex;
      justify-content: space-between;
      gap: 32px;

      .left-side {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      .right-side {
        flex: 2;
      }
    }

    .time-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .desc {
        display: flex;
        flex-direction: column;
        gap: 14px;
      }

      .time {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
      }

      .pink-box {
        padding: 6px;
        background-color: #fa2c5a;
        border-radius: 3px;
        color: #fff;
      }
    }

    .transfer-section {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .method {
        display: flex;
        gap: 16px;
        .method-desc {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }
    }

    .instruction-section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .list-group {
        h4 {
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
        }

        ol {
          font-weight: 300;
          font-size: 14px;
          color: #8a8a8a;
          line-height: 175%;
        }
      }

      .nav-link {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        border-width: 0;

        &.active {
          border-width: 0 0 1px 0;
          border-color: #5cb85f;
        }
      }
    }

    .confirm-section {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .header {
        display: flex;
        justify-content: space-between;
      }
      .proof {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .ticket-content {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      .check-icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #5cb85f;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 75%;
          height: 75%;
        }
      }

      .invoice {
        margin-top: 24px;
        width: 605px;

        .top-content {
          display: flex;
          justify-content: space-between;
        }

        .download-button {
          padding: 8px 12px;
          background-color: transparent;
          border: 1px solid #0d28a6;
          border-radius: 2px;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          color: #0d28a6;
          text-decoration: none;
        }

        .invoice-viewer {
          margin-top: 24px;
          width: 100%;
          height: 162px;
          background: #eeeeee;
          border: 1px dashed #d0d0d0;
          border-radius: 4px;
        }
      }
    }
  }

  .back-button {
    width: 20px;
    height: 20px;
    .bi-arrow-left-short {
      width: 20px;
      height: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .steps {
    display: flex;
    align-items: center;
    gap: 12px;

    .step {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        width: 14px;
        height: 14px;
        border: 1px solid #0d28a6;
        border-radius: 50%;
        text-align: center;

        &.done {
          background: #0d28a6;
          color: #fff;
        }
      }

      .text {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .line {
      width: 28px;
      height: 1px;
      background-color: #0d28a6;
    }
  }
}

.box-container {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;

  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
}

.default-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.bold-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.light-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
}

.green {
  color: #5cb85f;
}

.method-icon {
  width: 61px;
  height: 30px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.copy-field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .field {
    width: 100%;
    border: 1px solid #3c3c3c;
    border-radius: 2px;
    padding: 9px 12px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    > * {
      font-size: 100%;
    }
  }
}

.pink-box {
  padding: 6px;
  background-color: #fa2c5a;
  border-radius: 3px;
  color: #fff;
}
