@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

* {
  font-family: "Helvetica";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn.btn-success {
  background: #5cb85f;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: none;
}

.btn.btn-outline-primary {
  border: 1px solid #0d28a6;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0d28a6;
}
