.profile-card {
  display: flex;
  align-items: center;
  gap: 8px;

  .profile-image {
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50px;
    background: rgb(82, 82, 82);

    img {
      max-height: 100%;
    }
  }

  .profile-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .profile-button {
    background-color: transparent;
    border: none;
  }

  .dropdown {
    .btn {
      background-color: transparent;
      border: none;
      color: #000;

      &:hover {
        background-color: transparent;
        color: #000;
      }
    }

    .dropdown-menu[data-bs-popper] {
      right: 0;
      left: auto;
    }
  }
}
